<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>AppleAuthApplicationTests.Test3()[pri:0, instance:org.auth.apple.AppleAuthApplicationTests@662b4c69]<br/>AppleAuthApplicationTests.Test2()[pri:0, instance:org.auth.apple.AppleAuthApplicationTests@662b4c69]<br/></td></tr>
</table>
