<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9b6b">  <td>22/07/29 00:40:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppleAuthApplicationTests.Test1()[pri:0, instance:org.auth.apple.AppleAuthApplicationTests@33990a0c]">Test1</td> 
  <td>main@1611241809</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>22/07/29 00:40:32</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppleAuthApplicationTests.Test3()[pri:0, instance:org.auth.apple.AppleAuthApplicationTests@33990a0c]">Test3</td> 
  <td>main@1611241809</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>22/07/29 00:40:32</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppleAuthApplicationTests.Test2()[pri:0, instance:org.auth.apple.AppleAuthApplicationTests@33990a0c]">Test2</td> 
  <td>main@1611241809</td>   <td></td> </tr>
</table>
